html{
  background-color: #F3F3F9;
}

.bg{
  background-color: #F3F3F9;
}

.bg-image{
  background-image: url('../gambar/Background.png');

  background-position: center;
  background-size: cover;
}

.btn-young-blue{
  background-color: #3399FF;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.25);
  color: white;
  border-radius: 20px
}

.btn-young-blue:hover{
  background-color: #1e8bf9;
}

.bg-youngblue{
  background-color: #3399FF;
}

.btn-transparent{
  border-radius: 20px;
  color: black;
  transition: all 0.5s;
}

.btn-transparent:hover{
  background-color: #3399FF;
  border-radius: 20px;
  color: white;
  /* transition: background-color 0.2s; */
  transition: color 0.3s;
}

.btnActive{
  background-color: #3399FF;
  color: white;
}

.footer-link{
  color: white; 
  font-size: 16px;
  font-weight: bold;
}

.footer-link:hover{
  cursor: pointer;
  text-decoration: underline;
}

.brand{
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 84%;
  background-position: 60% 0;
  background-repeat: no-repeat;
}

/* NAVBAR */
.navbar{
  transition: all 0.5s;
}

.navbar-scrolled{
  background-color: #FFFFFE;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15)
}

.input-wrapper{
  background-color: white;
  width: 125%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 3px 10px;
  box-shadow: 0px 0px 4px rgba(198,198,198,0.5);
  display: flex;
  align-items: center;
  transition: box-shadow 0.2s ease;
}

.input-wrapper:focus-within{
  box-shadow: 0px 0px 10px rgba(198,198,198,1);
  transition: box-shadow 0.2s ease;
}

.searchbox{
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.searchbox:focus{
  outline: none;
}

/* LOGIN PAGE */


.hr-text{
  border: 1.5px solid #3c4b64;
  width: 125px;
  border-radius: 10px;
  margin-left: 0;
  margin-top: -5px;
  /* margin-bottom: -5px; */
}

.hyperlink{
  color: #321fdb;
  text-decoration: none;
  font-weight: bold;
}

.hyperlink:hover{
  cursor: pointer;
  text-decoration: underline;
}

.password-toogle-icon{
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}

/* Dashboard */

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}

.outer-container {
  border: 1px solid;
  border-radius: 60px;
  background-color: #FFFFFE;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 20px;
}

.inner-container {
  position: relative;
  height: 100%;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 180px;
  background-color: #2EB85C;
  width: 0;
  transition: width 0.5s ease-in-out;
  animation: fillProgress 3s ease-in-out forwards;
}

@keyframes fillProgress {
  from {
    width: 0;
  }
  to {
    width: 100;
  }
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: bold;
}

.header{
  font-weight: bold;
  font-size: 24px;
}

.click-image{
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
  background-color: #FFFFFE;
  transition: all 0.3s ease;
}

.click-image:hover{
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
}

.overlay {
  position: relative;
}

.overlay-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 20px;
  opacity: 0.8;
  transition: opacity 0.5s ease;
  border-radius: 0px 0px 10px 10px;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 0px 0px 10px 10px;
}

.overlay:hover .overlay-text {
  opacity: 0.8;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* Profile */

.profile-menu:hover{
  background-color: #ebedef !important;
}

.profile-menu:active{
  background-color: #ebedef !important;
}

.profile-menu:focus{
  background-color: white;
}

.btn-menu{
  background-color: #FFFFFE;
  box-shadow: 1px 4px 4px rgba(0,0,0,0.15);
  width: 100px;
}

.left-radius{
  border-radius: 10px 0 0 10px;
}

.right-radius{
  border-radius: 0 10px 10px 0;
}

.btn-clicked{
  background-color: #C2C2C2 !important;
  box-shadow: none !important;
}

.btn-menu:hover{
  background-color: #C2C2C2;
}

/* course */

.rating{
  font-size:50px;
}

.title{
  font-weight: bold;
  font-size: 18px
}
.swiper-container {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 50px; /* Adjust the value as per your needs */
}

.description{
  font-weight: normal;
  font-size: 14px;
  text-align: justify;
}

.accordion{
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.25);
  padding: 10px;
}

.accordion-modul{
  margin-left: 10px;
  font-weight:  500;
}

.accordion-materi{
  margin-left: 30px;
}

.content{
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0,1,0,1);
}

.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.modul:hover{
  background-color: #f4f4f5;
  color: #3399FF;
  cursor: pointer;
}

.user-course{
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.user-course:hover{
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  /* margin-top: -3px; */
  cursor: pointer;
  transition: all 0.3s ease;
}

.click-materi:hover{
  cursor:pointer;
  text-decoration: underline;
}

.komentar {
  height: 230px;
  overflow-y: auto; 
  /* padding-right: 8px; */
  box-sizing: content-box; 
}
/* 
.komentar:hover {
  overflow-y: auto; 
  padding-right: 0; 
} */

.komentar::-webkit-scrollbar {
  width: 8px;
}

.komentar::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 100vw;
}

.komentar:hover::-webkit-scrollbar {
  width: 8px; 
  opacity: 1; 
}

.komentar:hover::-webkit-scrollbar-thumb {
  background: #a8a8a8; 
}

.komentar::-webkit-scrollbar-thumb:active {
  background: #787878;
}

.komentar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-badge {
  display: inline-block;
  padding: 2px 7px;
  border-radius: 9999px;
  background-color: white;
  color: black;
  font-size: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.vertical-horizontal-center{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.next-button{
  background-color: #0056D2;
  color: white !important;
  font-size: 14px;
  border-radius: 90px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.form-control:focus{
  box-shadow: none; /* Menghilangkan efek bayangan pada saat input difokuskan */
}

.list-inline-item{
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;
  transition: all 0.5s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  margin: 2px;
}

.list-inline-item:hover{
  background-color: #3399FF;
  cursor: pointer;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}

.scrollmenu {
  overflow-y: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-active{
  background-color: #3399FF !important;
}

.materi-complete{
  color: #3399FF;
}

.materi-current{
  font-weight: bold;
}

.tambah-pilihan {
  color: #2eb85c;
}

.tambah-pilihan:hover{
  cursor: pointer;
  text-decoration: underline;
}

.card-custom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card-custom:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
